# Definition of UBI

A basic income, also called basic income guarantee, universal basic income (UBI), basic living stipend (BLS), or universal demogrant, is a type of program in which citizens (or permanent residents) of a country may receive a regular sum of money from a source such as the government. A pure or unconditional basic income has no means test, but unlike Social Security in the United States it is distributed automatically to all citizens without a requirement to notify changes in the citizen's financial status. Basic income can be implemented nationally, regionally or locally. The World Bank's World Development Report 2019 on the future of work describes the existing schemes around the world.

An unconditional income that is sufficient to meet a person's basic needs (at or above the poverty line), is called full basic income, while if it is less than that amount, it is called partial.

Source: [Wikipedia](https://en.wikipedia.org/wiki/Basic_income)

In [2]:
# Library imports
import pandas as pd
import requests

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Unemployment Analysis

Data source: [Eurostat Database](http://appsso.eurostat.ec.europa.eu/nui/show.do?query=BOOKMARK_DS-055624_QID_3341A187_UID_-3F171EB0&layout=TIME,C,X,0;GEO,L,Y,0;S_ADJ,L,Z,0;AGE,L,Z,1;UNIT,L,Z,2;SEX,L,Z,3;INDICATORS,C,Z,4;&zSelection=DS-055624AGE,TOTAL;DS-055624INDICATORS,OBS_FLAG;DS-055624SEX,T;DS-055624S_ADJ,SA;DS-055624UNIT,PC_ACT;&rankName1=UNIT_1_2_-1_2&rankName2=AGE_1_2_-1_2&rankName3=INDICATORS_1_2_-1_2&rankName4=SEX_1_2_-1_2&rankName5=S-ADJ_1_2_-1_2&rankName6=TIME_1_0_0_0&rankName7=GEO_1_2_0_1&sortC=ASC_-1_FIRST&rStp=&cStp=&rDCh=&cDCh=&rDM=true&cDM=true&footnes=false&empty=false&wai=false&time_mode=FIXED&time_most_recent=true&lang=EN&cfo=%23%23%23%2C%23%23%23.%23%23%23)

In [9]:
BASE = 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/'

url = BASE + 'une_rt_m?geo=EU28&unit=THS_PER&'


result = requests.get(url)
j = result.json()

In [9]:
type(j)

dict

In [49]:
df = pd.DataFrame.from_dict(j, orient='index')

In [50]:
df

                                                           0
version                                                  2.0
label          Unemployment by sex and age - monthly average
href       http://ec.europa.eu/eurostat/wdds/rest/data/v2...
source                                              Eurostat
updated                                           2020-01-16
status     {'0': ':', '1': ':', '2': ':', '3': ':', '4': ...
extension  {'datasetId': 'une_rt_m', 'lang': 'EN', 'descr...
class                                                dataset
value      {'204': 10032, '205': 10373, '206': 10247, '20...
dimension  {'s_adj': {'label': 's_adj', 'category': {'ind...
id                        [s_adj, age, unit, sex, geo, time]
size                                    [3, 3, 1, 3, 1, 444]

In [72]:
df_value = df.loc['value'].apply(pd.Series)

display(df_value)

,204,205,206,207,208,209,210,211,212,213,...,11977,11978,11979,11980,11981,11982,11983,11984,11985,11986
0,10032,10373,10247,9966,9853,9822,9814,9875,9563,9699,...,3246,3220,3232,3236,3209,3249,3218,3227,3213,3217

In [73]:
df_extension = df.loc['extension'].apply(pd.Series)

display(df_extension)

  datasetId lang description subTitle                             status
0  une_rt_m   EN        None     None  {'label': {':': 'not available'}}

In [74]:
df_status = df.loc['status'].apply(pd.Series)

display(df_status)

,0,1,2,3,4,5,6,7,8,9,...,11739,11740,11741,11742,11743,11744,11745,11746,11747,11987
0,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:

# Read from manually downloaded csv

In [22]:
une_rt_m_1_Data = pd.read_csv('data/une_rt_m_1_Data.csv')
une_rt_m_1_Data.head()

,TIME,GEO,S_ADJ,AGE,UNIT,SEX,Value
0,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Thousand persons,Total,:
1,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Thousand persons,Males,:
2,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Thousand persons,Females,:
3,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of active population,Total,:
4,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of active population,Males,:

In [23]:
une_rt_m_1_Data.describe()

,TIME,GEO,S_ADJ,AGE,UNIT,SEX,Value
count,270270,270270,270270,270270,270270,270270,270270
unique,429,35,1,3,2,3,7962
top,2008M10,France,"Seasonally adjusted data, not calendar adjuste...",From 25 to 74 years,Percentage of active population,Total,:
freq,630,7722,270270,90090,135135,90090,74888

## Data Wrangling

In [75]:
df = une_rt_m_1_Data

In [76]:
del df['S_ADJ']
del df['UNIT']

In [77]:
df['GEO'].replace(
    to_replace = 'Germany (until 1990 former territory of the FRG)', 
    value='Germany', inplace=True)

In [78]:
df.GEO.unique()

array(['European Union (current composition)', 'Euro area (19 countries)',
       'Belgium', 'Bulgaria', 'Czechia', 'Denmark', 'Germany', 'Estonia',
       'Ireland', 'Greece', 'Spain', 'France', 'Croatia', 'Italy',
       'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
       'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
       'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'United Kingdom',
       'Iceland', 'Norway', 'Turkey', 'United States', 'Japan'],
      dtype=object)

In [79]:
g = df[['TIME', 'GEO', 'Value']].groupby(['TIME','GEO'])
g.sum()

                                     Value
TIME    GEO
1983M01 Austria         ::::::::::::::::::
        Belgium         ::::::::::::::::::
        Bulgaria        ::::::::::::::::::
        Croatia         ::::::::::::::::::
        Cyprus          ::::::::::::::::::
...                                    ...
2018M09 Spain           ::::::::::::::::::
        Sweden          ::::::::::::::::::
        Turkey          ::::::::::::::::::
        United Kingdom  ::::::::::::::::::
        United States   ::::::::::::::::::

[15015 rows x 1 columns]

In [80]:
g = df.groupby(['TIME','GEO'])
g.sum()

                                                                      AGE  \
TIME    GEO
1983M01 Austria         TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Belgium         TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Bulgaria        TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Croatia         TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Cyprus          TotalTotalTotalTotalTotalTotalLess than 25 yea...
...                                                                   ...
2018M09 Spain           TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Sweden          TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Turkey          TotalTotalTotalTotalTotalTotalLess than 25 yea...
        United Kingdom  TotalTotalTotalTotalTotalTotalLess than 25 yea...
        United States   TotalTotalTotalTotalTotalTotalLess than 25 yea...

                                                                      SEX  \
TIME    GEO
1983M01 Austria         TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Belgium         TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Bulgaria        TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Croatia         TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Cyprus          TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
...                                                                   ...
2018M09 Spain           TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Sweden          TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Turkey          TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        United Kingdom  TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        United States   TotalMalesFemalesTotalMalesFemalesTotalMalesFe...

                                     Value
TIME    GEO
1983M01 Austria         ::::::::::::::::::
        Belgium         ::::::::::::::::::
        Bulgaria        ::::::::::::::::::
        Croatia         ::::::::::::::::::
        Cyprus          ::::::::::::::::::
...                                    ...
2018M09 Spain           ::::::::::::::::::
        Sweden          ::::::::::::::::::
        Turkey          ::::::::::::::::::
        United Kingdom  ::::::::::::::::::
        United States   ::::::::::::::::::

[15015 rows x 3 columns]

In [81]:
germany = df[(df.GEO == 'Germany')]

In [82]:
germany.groupby(['Time',''])

KeyError: 'Time'